html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 90px;
}

.footer {
    border-top: 1px solid #e6e6e6;
}

.home-page {
    margin-top: -60px;
}

.logo-santa {
    font-size: 2rem;
    letter-spacing: 3px;
}

.product-card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,.06);
    transition: .3s;
}

    .product-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 20px 40px rgba(0,0,0,.15);
    }

/* BADGE */
.badge-product {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #000;
    color: #fff;
    padding: 6px 14px;
    font-size: .7rem;
    border-radius: 20px;
    z-index: 2;
}

/* FAVORITO */
.btn-favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #fff;
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    z-index: 2;
}

    .btn-favorite i {
        color: #999;
    }

    .btn-favorite:hover i {
        color: red;
    }

/* IMAGEM */
.product-image {
    position: relative;
    height: 220px;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .product-image img {
        max-height: 180px;
        transition: transform .3s;
    }

.product-card:hover img {
    transform: scale(1.05);
}

/* OVERLAY */
.product-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.55);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .3s;
}

.product-card:hover .product-overlay {
    opacity: 1;
}

/* INFO */
.product-info {
    padding: 20px;
}

.product-title {
    font-weight: 600;
    font-size: 1rem;
}

.product-price {
    font-size: 1.1rem;
    font-weight: 700;
}

/* MOBILE */
@media (max-width: 576px) {
    .product-image {
        height: 180px;
    }
}

@media (min-width: 992px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}
